<p style="color: green"><%= notice %></p>

<h1>Points</h1>

<div id="points">
  <% @points.each do |point| %>
    <%= render point %>
    <p>
      <%= link_to "Show this point", point %>
    </p>
  <% end %>
</div>

<%= link_to "New point", new_point_path %>
