<div class="const">
  <h1>Edit Alumni</h1>
</div>

<%= render "form", alumni: @alumni %>

<br>

<div class = "newRecord">
  <%= link_to "Show this Alumni", @alumni, class: "new-and-back-btn" %>
  <%= link_to "Back to Alumnis", alumnis_path, class: "new-and-back-btn" %>
</div>
