<div class="const">
  <h1>Edit Alumni</h1>
</div>

<%= render "form", alumni: @alumni %>

<div>
  <%= link_to "Show this alumni", @alumni, class: "new-and-back-btn" %>
  <%= link_to "Back to alumnis", alumnis_path, class: "new-and-back-btn" %>
</div>
