<div class="const">
  <h1>New Alumni</h1>
</div>

<%= render "form", alumni: @alumni %>

<br>

<div class = "newRecord">
  <%= button_to "Back to Alumnis", alumnis_path, method: :get, class: "new-and-back-btn"%>
</div>
