<p class="notice"><%= notice %></p>
<div class="const">
  <h1>View Alumni</h1>
</div>

<%= render @alumni %>

<div class = "newRecord">
  <%= button_to "Back to Alumnis", alumnis_path, method: :get, class: "new-and-back-btn"%>
</div>
