<div class="const">
  <h1>Edit Profile</h1>
</div>

<%= render "form", user: @user %>

<br>

<div class = "newRecord" style = "margin-bottom: 50px;">
  <%= link_to "Show this User", @user, class: "new-and-back-btn" %>
  <%= link_to "Back to Users", users_path, class: "new-and-back-btn" %>
</div>
