<div class="const">
  <h1>Create User</h1>
</div>

<%= render "form", user: @user %>

<br>

<div class = "newRecord">
  <%= button_to "Back to Users", users_path, method: :get, class: "new-and-back-btn" %>
</div>
