<div class="const">
  <h1>Create Entry</h1>
</div>

<%= render "form", user: @user %>

<br>

<div class = "newRecord">
  <%= button_to "Back to Directory", users_path, method: :get, class: "new-and-back-btn" %>
</div>
