<!DOCTYPE html>
<html>
  <br><br><br><br>
  <head>
    <title>Admin Users Help</title>
  </head>
  <body>
    <h1>Admin Users Help Page</h1>

    <h2>Admin functions</h2>

    <p>
      The purpose of this page is to manually set up who is allowed to have access to the application.
    </p>
    <p>
      By adding an new user on this page, their email will be granted access to the application and their user profile will be generated upon login.
    </p>
    <p>
      To add a new user, click on the "New User" button at the end of the page and enter their email. If you check the check box then that person will be granted admin priveleges, If you leave it unchecked then it will have normal user access.
    </p>
    <p>
      You can prevent an existing user from accessing this application with their email by clicking on "Show this admin user" in the Admin users page then click on "Destroy this admin user". This will remove their log in privelege.
    </p>
    <h2>Contact Us</h2>
    <p>
      If you have any questions or concerns about using the admin abilities page, please contact us at <a href="mailto:ansleythomp@tamu.edu">ansleythomp@tamu.edu</a>.
    </p>
  </body>
</html>
<div class = "newRecord">
  <%= button_to "Back to Admin Page", adminusers_path, method: :get, class: "new-and-back-btn"%>
</div>
