<h1>Editing adminuser</h1>

<%= render "form", adminuser: @adminuser %>

<br>

<div>
  <%= button_to "Show this Admin", @adminuser, class: "new-and-back-btn" %>
  <%= button_to "Back to Admin", adminusers_path, class: "new-and-back-btn"  %>
</div>
