<h1>Editing adminuser</h1>

<%= render "form", adminuser: @adminuser %>

<br>

<div>
  <%= link_to "Show this adminuser", @adminuser %> |
  <%= link_to "Back to adminusers", adminusers_path %>
</div>
