<h1>Editing adminuser</h1>

<%= render "form", adminuser: @adminuser %>

<br>

<div>

  <%= link_to "Show this Admin", @adminuser, class: "new-and-back-btn" %>
  <%= link_to "Back to Admin", adminusers_path, class: "new-and-back-btn"  %>

</div>
