<h1>Editing adminuser</h1>

<%= render "form", adminuser: @adminuser %>

<br>

<div>
  <%= link_to "Show this admin user", @adminuser %> |
  <%= link_to "Back to admin users", adminusers_path %>
</div>
