<div id="<%= dom_id company %>">
  <p>
    <strong>Company name:</strong>
    <%= company.company_name %>
  </p>

  <p>
    <strong>Company location:</strong>
    <%= company.company_location %>
  </p>

  <p>
    <strong>Company industry:</strong>
    <%= company.company_industry %>
  </p>

</div>
