<div id="<%= dom_id company %>">
<br></br>
<div class = "newEntry" style = "text-align: left; width: 25%;">
  <p>
    <strong>Name:</strong>
    <%= company.company_name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= company.company_location %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= company.company_industry %>
  </p>
</div>
</div>
