<div class="const">
  <h1>Editing Company</h1>
</div>

<%= render "form", company: @company %>

<br>

<div class = "newRecord">
  <%= link_to "Show this Company", @company, class: "new-and-back-btn" %>
  <%= link_to "Back to Companies", companies_path, class: "new-and-back-btn" %>
</div>
