<br></br>
<h1>Editing Company</h1>

<%= render "form", company: @company %>

<br>

<div class = "newRecord">
  <%= link_to "Show this Company", @company, style: "color: white;" %> |
  <%= link_to "Back to Companies", companies_path, style: "color: white;" %>
</div>
