<br></br>
<h1>New Company</h1>

<%= render "form", company: @company %>

<br>

<div class = "newRecord">
  <%= button_to "Back to Companies", companies_path, method: :get, class: "new-and-back-btn"%>
</div>
