<p style="color: green"><%= notice %></p>

<br></br>
<%= render @company %>


<div class = "newRecord">
  <%= button_to "Back to Companies", companies_path, method: :get, class: "new-and-back-btn"%>
</div>
