<div id="<%= dom_id course %>">
<br></br>
<div class = "newEntry" style = "text-align: left; width: 25%;">
  <p>
    <strong>Course name:</strong>
    <%= course.course_name %>
  </p>

  <p>
    <strong>Course hours:</strong>
    <%= course.course_hours %>
  </p>
</div>
</div>
