<div class="const">
  <h1>Edit Course</h1>
</div>

<%= render "form", course: @course %>

<br>

<div class = "newRecord">
  <%= link_to "Show this Course", @course, class: "new-and-back-btn" %>
  <%= link_to "Back to Courses", courses_path, class: "new-and-back-btn" %>
</div>
