<br></br>
<h1>Editing Course</h1>

<%= render "form", course: @course %>

<br>

<div class = "newRecord">
  <%= link_to "Show this Course", @course, style: "color: white;" %> |
  <%= link_to "Back to Courses", courses_path, style: "color: white;" %>
</div>