<div class="const">
  <h1>New Course</h1>
</div>

<%= render "form", course: @course %>

<br>

<div class = "newRecord">
  <%= button_to "Back to Courses", courses_path, method: :get, class: "new-and-back-btn"%>
  <%= button_to "To Exam Creation", new_exam_path, method: :get, class: "new-and-back-btn"%>
</div>
