<p style="color: green"><%= notice %></p>
<br></br>

<%= render @course %>

<div class = "newRecord">
  <%= button_to "Back to Courses", courses_path, method: :get, class: "new-and-back-btn"%>
</div>
