<p class="notice"><%= notice %></p>
<div class="const">
  <h1>View Course</h1>
</div>

<%= render @course %>

<div class = "newRecord">
  <%= button_to "Back to Courses", courses_path, method: :get, class: "new-and-back-btn"%>
</div>
