/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    font-family: Helvetica;
    background-color: rgb(30, 108, 147);
    /* color: orange; */
}

h1{
    text-align: center;
    font-size: 300%;
    color: rgb(242, 242, 242);
}

h2{
  color: rgb(242, 242, 242);
}

li {
  color: rgb(242, 242, 242);
}

table{
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    overflow: hidden;
    background-color: rgb(242, 242, 242);
    box-shadow: 2px 2px 4px #000000;
}

td, th {
    text-align: center;
    font-size: 92%;
    color: black;
    padding: 20px;
}

th{
    background-color: rgb(30, 108, 147);
    color: black);
}

.newRecord{
    margin-top: 15px;
    text-align: center;
}

.newEntry{
    border-radius: 12px;
    overflow: hidden;
    background-color: rgb(242, 242, 242);
    color: black;
    width: 30%;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0.5px 2px 4px #000000;
}

.navBar{
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(242, 242, 242);
    color: rgb(242, 242, 242);
    padding: 30px;
    width: 15%;
    font-size: 120%;
}

.show-btn {
    font-size: 12px;
    padding: 7px 16px;
    background-color: rgb(242, 242, 242);
    color: rgb(30, 108, 147);
    border: 2px solid rgb(242, 242, 242);
    border-radius: 12px;
}

button:hover{
    cursor: pointer;
}

.show-btn:hover{
    background-color: rgb(19, 70, 95);
    color: white;
}

.new-and-back-btn {
    margin-top: 10px;
    font-size: 15px;
    padding: 7px 16px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: none;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(242, 242, 242);
}

.new-and-back-btn:hover{
    background-color: rgb(19, 70, 95);
}

input#text-field-vals {
    height: 25px;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(242, 242, 242);
    color: black;
}

.text-field-vals{
    height: 25px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: rgb(242, 242, 242);
    color: black;
}

.text-field-tag{
    width: 320px;
    height: 25px;
}

.error{
    color: black;
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(45, 164, 223);
    font-size: 75%;
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


nav {
    background-color: rgb(19, 70, 95);
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav li {
    margin: 0 25px;
}

nav a {
    color: rgb(242, 242, 242);
    text-decoration: none;
    font-size: 18px;
}

.oauth {
    color: rgb(242, 242, 242);
}

