<div id="<%= dom_id exam %>">
  <p>
    <strong>Exam date:</strong>
    <%= exam.exam_date %>
  </p>

  <p>
    <strong>Exam grade:</strong>
    <%= exam.exam_grade %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= exam.course_id %>
  </p>

</div>
