<div id="<%= dom_id exam %>">
  <br></br>
  <div class = "newEntry" style = "text-align: left; width: 25%;">
  <p>
    <strong>Exam date:</strong>
    <%= exam.exam_date %>
  </p>

  <p>
    <strong>Exam grade:</strong>
    <%= exam.exam_grade %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= exam.course_id %>
  </p>
  </div>
</div>
