<br></br>
<h1>Editing Exam</h1>

<%= render "form", exam: @exam %>

<br>

<div class = "newRecord">
  <%= link_to "Show this Exam", @exam, style: "color: white;" %> |
  <%= link_to "Back to Exams", exams_path, style: "color: white;" %>
</div>
