<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
</head>

<p style="color: green"><%= notice %></p>

<%= render @exam %>

<%# <%= render @exam.user_id %>
<div class = "newRecord">
  <%= button_to "Back to Exams", exams_path, method: :get, class: "new-and-back-btn"%>
</div>
