<div id="<%= dom_id performance %>">
  <p>
    <strong>User:</strong>
    <%= performance.user_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= performance.grade %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= performance.points %>
  </p>

</div>
