<!DOCTYPE html>
<html>
<br><br><br><br>
  <head>
    <title>Performance Help</title>
  </head>
  <body>
    <h1>Performance Help Page</h1>

    <h2>General functions</h2>
    <p>
      By clicking on the Performances page on the navigation bar, you are able to see a scoreboard of everyone's performance points(calculated from exam grades).
    </p>

    <h2>Admin functions</h2>
    
    <p>
      By clicking on View Scoreboard, you will be able to see the scoreboard that the normal users are able to see.
    </p>
    
    <p>
      To assign performance points to someone for a certain exam, click on view submissions button. It will lead you to a list of exam scores submitted by the users and you could assign performance points to the users based on that.
    </p>
    <h2>Contact Us</h2>
    <p>
      If you have any questions or concerns about using the alumni tracker, please contact us at <a href="mailto:ansleythomp@tamu.edu">ansleythomp@tamu.edu</a>.
    </p>
  </body>
</html>
<div class = "newRecord">
  <%= button_to "Back to Points", performances_path, method: :get, class: "new-and-back-btn"%>
</div>