<div>
    <%= link_to "Main Page", "main" %>
    <br>
    <%= link_to "User Page", users_path %>
    <br>
    <%= link_to "Alumni Tracker", alumnis_path %>
    <br>
    <%= link_to "Budget Submission", budgets_path %>
</div>